################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Tema1/Debug
/Tema1/Tema1/Debug
